body {
    /*background: silver scroll url('http://hotbrewd.local/images/bg.jpg') -500px -500px;*/
    background-color: sandybrown;
    text-align: center;
    font-family: Exo;
    font-size: large;
}
a {
    color: sandybrown;
    text-decoration: none;
}
a:hover {
    color: brown;
}
.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}
.roundedSmall {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
}
.boxShadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 2px 0px;
}
.hbBlue { color: sandybrown;}

.clear { font-size: 0pt; clear: both; }
#master {
    width: 600px;
    margin: 0 auto;
}
#container {
    background-color: white;
    text-align: left;
    padding: 5px;
}
#loginBox {
    background: white;
    padding: 20px 0;
    margin-top: 120px;
}
.content {
    text-align: left;
    padding: 0 5px;
}
#introduction, #bio {
    text-align: left;
}
#introduction li {
    list-style: square;
}
h1#logo a {
    text-decoration: none;
    color: black;
}
h1#logo a i {
    color: sandybrown;
}
